# Ignore all
*

# Except these folders:
!/.oh-my-zsh/
!/.oh-my-zsh/custom/
!/.oh-my-zsh/custom/*
!/.config/
!/.config/**

# and files:
!/install.sh
!/README.md
# shell
!/.zshrc
!/.aliases
# git
!/.gitconfig
!/.gitconfig_local
!/.gitignore
!/.gitignore_global
!/.gitmodules
# editors
!/.vimrc
!/.ideavimrc

